In [1]:
# Import libraries
import pymysql
import pandas as pd

In [2]:
# Define connection initialization variables
my_host = '127.0.0.1'
my_port = int(3306)
my_user = 'root'
my_password = 'dehack21_Rabbit%'
book_crossing_db = 'book_crossing'

# Establish connection with MySQL database
conn = pymysql.connect(
    host = my_host,
    port = my_port,
    user = my_user,
    passwd = my_password,
    db = book_crossing_db)

In [3]:
# Query and read usage data into a dataframe
hist_df = pd.read_sql_query("SELECT * FROM 2020_checkout_data_top_hundred_per_week",
    conn)

In [4]:
hist_df.head()

  week        isbn count
0    1   195153448    14
1    1   887841740    65
2    1   971880107    98
3    1   375759778    71
4    1  3404921038    99